@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body, html {
  margin: 0;
  color: red;
}

.app {
  display: grid;
  grid-template-rows: 200px 1fr 100px;
  height: 100vh;
  width: 100vw;
  text-align: left;
  overflow-y: hidden;
}

main {
  overflow-y: auto;
}

.header {
  background: #f8f8f8;
  padding: 1rem;
  width: 100%;
}

.footer {
  background: #f8f8f8;
  padding: 1rem;
}
